@import '../../style/settings/colours';
@import '../../style/settings/fonts';
@import '../../style/settings/breakpoints';


.container {
  padding: 50px 30px;

  @include respond-to('mobile') {
    padding: 10px;  
  }
}

.readingMetrics {
  @include font-family('proxima-bold');
  @include font-size('large');

  list-style-type: none;
  display: flex;
  border-bottom: 1px solid $colour-grey-medium;
  padding-bottom: 20px;
  justify-content: space-between;

  @include respond-to('mobile') {
    flex-direction: column;
  }

  li {
    @include respond-to('mobile') {
      flex: 1 1 100%;
      text-align: left;
    }
  }
}

.metric {
  text-align: center;
  position: relative;
}

.metricTitle {
  @include font-family('proxima-light');
  @include font-size('xsmall');
  text-transform: uppercase;
  transform: translateY(-2px);
  display: inline-block;
  @include respond-to('mobile') {
    @include font-size('medium');
    text-transform: capitalize;
  }
}

.metricText {
  @include respond-to('mobile') {
    position: absolute;
    right: 35px;
  }
}

.metricSuffix {
  @include font-size('small');
  @include respond-to('mobile') {
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 30px;
  }
}

.status {
  margin: 40px 0;
  padding: 20px;
  border: 1px solid $colour-green;
  background: rgba(28,172,105,0.05);
  display: flex;
  align-items: center;
  justify-content: center;

  @include respond-to('mobile') {
    flex-direction: column;
  }

  &.red {
    background: rgba(255,88,83,0.05);
    border: 1px solid $colour-red;
  }

  &.amber {
    background:rgba(248,162,55,0.05);
    border: 1px solid rgba(248,162,55,1);
  }
}

.statusLabel {
  background: $colour-green;
  color: $white;
  border-radius: 15px;
  text-transform: uppercase;
  @include font-family('proxima-bold');
  display:inline-block;
  min-width: 100px;
  padding: 0 10px;
  min-height: 28px;
  text-align: center;
  flex: 1 1 0;

  @include respond-to('mobile') {
    flex: 1 0 100%;
  }

  .red &{
    background: $colour-red;
  }

  .amber &{
    background: rgba(248,162,55,1);
  }
}

.statusText {
  padding: 0 30px;
  flex: 5 1 0;
  @include respond-to('mobile') {
    flex: 1 0 100%;
    padding: 0;
  }
}

.analyteText {
  ul {
    list-style: disc inside;
    text-indent: 10px;
  }
  strong {
    @include font-family('proxima-bold');
  }
  img {
    max-width: 100%;
  }
  em {
    font-style: italic;
  }
}