<!DOCTYPE html>
<html>

<head>
    <meta charSet="utf-8" />
    <link rel="icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#333333" />
    <link rel="stylesheet" href="https://use.typekit.net/heg1fed.css" />
    <link href="~/global.css" rel="stylesheet" />
    <title>Upload</title>
    <link rel="icon" href="~/favicon.ico" />
    <meta name="next-head-count" content="8" />
    <link rel="preload" href="~/_next/static/index.js" as="script" />
    <link rel="preload" href="~/_next/static/_app.js" as="script" />
    <link rel="preload" href="~/_next/static/webpack-9369c5c69dbf6d4912cb.js" as="script" />
    <link rel="preload" href="~/_next/static/commons.067a510123703ba1c35c.js" as="script" />
    <link rel="preload" href="~/_next/static/styles.d4442551fa7e8c85a8f1.js" as="script" />
    <link rel="preload" href="~/_next/static/main-658c548e6696ec85ff52.js" as="script" />
    <link rel="preload" href="~/_next/static/commons.695e8153.chunk.css" as="style" />
    <link rel="stylesheet" href="~/_next/static/commons.695e8153.chunk.css" />
    <link rel="preload" href="~/_next/static/styles.6672a85a.chunk.css" as="style" />
    <link rel="stylesheet" href="~/_next/static/styles.6672a85a.chunk.css" />
</head>

<body>
    <div id="__next">
        <div style="height:0;width:0;position:absolute;visibility:hidden">
            <svg xmlns="http://www.w3.org/2000/svg">
                <symbol id="Produces" viewBox="0 0 59 78.7">
                    <g>
                        <path d="M57.5,21.7H46v-5C46,7.5,38.6,0,29.5,0S13,7.5,13,16.7v5H1.5c-0.8,0-1.5,0.7-1.5,1.5v50c0,3,2.5,5.5,5.5,5.5h48
 c3,0,5.5-2.5,5.5-5.5v-50C59,22.3,58.3,21.7,57.5,21.7z M16,16.6C16,9,22.1,2.9,29.5,2.9S43,9,43,16.6v5H16V16.6z M53.5,75.7h-48
 c-1.4,0-2.5-1.1-2.5-2.5V24.7h10v14.8c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5V24.7h27v14.8c0,0.8,0.7,1.5,1.5,1.5s1.5-0.7,1.5-1.5
 V24.7h10v48.5C56,74.6,54.9,75.7,53.5,75.7z"></path>
                    </g>
                </symbol>
                <symbol id="Retailers" viewBox="0 0 29.5 29.5">
                    <path d="M28.8,28h-2.2V14.5h0.2c1.5,0,2.8-1.2,2.8-2.8l0-2c0-0.1,0-0.2-0.1-0.4l-3-8.9C26.4,0.2,26.1,0,25.8,0h-22
 C3.4,0,3.1,0.2,3,0.5l-3,9c0,0.1,0,0.1,0,0.2l0,0.1l0,1.9c0,1.5,1.2,2.8,2.8,2.8H3V28H0.8C0.3,28,0,28.3,0,28.8s0.3,0.8,0.8,0.8h28
 c0.4,0,0.8-0.3,0.8-0.8S29.2,28,28.8,28z M4.3,1.5h20.9L27.7,9H1.8L4.3,1.5z M2.8,13c-0.7,0-1.2-0.6-1.2-1.2v-1.2H28v1.2
 c0,0.7-0.6,1.2-1.2,1.2H2.8z M18,28h-6.5v-7.5H18V28z M25,28h-5.5v-8.2c0-0.4-0.3-0.8-0.8-0.8h-8c-0.4,0-0.8,0.3-0.8,0.8V28H4.5
 V14.5H25V28z"></path>
                </symbol>
                <symbol id="chevron" viewBox="0 0 18 11">
                    <polyline fill="none" stroke-width="2" points="1,1.5 9,9.5 17,1.5 "></polyline>
                </symbol>
                <symbol id="envelope" viewBox="0 0 60 60">
                    <path d="M0,8.5v2.291v38.418V51.5h60v-2.291V10.791V8.5H0z M36.625,30.564l-5.446,5.472c-0.662,0.615-1.698,0.614-2.332,0.026
 l-5.473-5.498l0.048-0.047L3.647,10.5h52.719L36.577,30.518L36.625,30.564z M20.524,30.533L2,48.355V11.923L20.524,30.533z
 M21.934,31.95l5.523,5.549c0.709,0.661,1.619,0.993,2.533,0.993c0.923,0,1.85-0.339,2.581-1.02l5.496-5.522L56.304,49.5H3.686
 L21.934,31.95z M39.477,30.534L58,11.922v36.433L39.477,30.534z"></path>
                </symbol>
                <symbol id="rosette" viewBox="0 0 22 32">
                    <path d="M19.5,11.8c-0.3,0.4-0.7,0.7-0.8,1.2c-0.1,0.5,0,1,0.1,1.5c0.1,0.3,0.2,0.8,0.1,0.9
 c-0.1,0.2-0.5,0.3-0.8,0.4c-0.4,0.1-1,0.3-1.3,0.7c-0.4,0.4-0.5,0.9-0.7,1.3c-0.1,0.3-0.2,0.8-0.4,0.8c0,0-0.1,0-0.2,0
 c-0.2,0-0.5-0.1-0.7-0.1c-0.3-0.1-0.7-0.1-1-0.1c-0.2,0-0.3,0-0.5,0.1c-0.5,0.1-0.9,0.5-1.2,0.8c-0.3,0.2-0.6,0.5-0.8,0.5
 s-0.5-0.3-0.8-0.5C10,19,9.6,18.7,9.2,18.5c-0.2,0-0.3-0.1-0.5-0.1c-0.3,0-0.7,0.1-1,0.1c-0.3,0.1-0.5,0.1-0.7,0.1
 c-0.1,0-0.2,0-0.2,0c-0.2-0.1-0.3-0.5-0.4-0.8c-0.1-0.4-0.3-1-0.7-1.3c-0.4-0.4-0.9-0.5-1.3-0.7c-0.3-0.1-0.8-0.2-0.8-0.4
 c-0.1-0.2,0-0.6,0.1-0.9c0.1-0.5,0.2-1,0.1-1.5c-0.1-0.5-0.5-0.9-0.8-1.2c-0.2-0.3-0.5-0.6-0.5-0.8c0-0.2,0.3-0.5,0.5-0.8
 C3.2,9.9,3.5,9.5,3.7,9c0.1-0.5,0-1-0.1-1.5C3.5,7.2,3.4,6.8,3.5,6.6C3.6,6.5,4,6.3,4.4,6.2c0.4-0.1,1-0.3,1.3-0.7
 C6,5.2,6.2,4.7,6.3,4.2c0.1-0.3,0.2-0.8,0.4-0.8c0,0,0.1,0,0.2,0c0.2,0,0.4,0.1,0.7,0.1c0.3,0.1,0.7,0.1,1,0.1c0.2,0,0.3,0,0.5-0.1
 c0.5-0.1,0.9-0.5,1.2-0.8c0.3-0.2,0.6-0.5,0.8-0.5s0.5,0.3,0.8,0.5c0.4,0.3,0.7,0.7,1.2,0.8c0.2,0,0.3,0.1,0.5,0.1
 c0.3,0,0.7-0.1,1-0.1c0.3-0.1,0.5-0.1,0.7-0.1c0.1,0,0.2,0,0.2,0c0.2,0.1,0.3,0.5,0.4,0.8c0.1,0.4,0.3,1,0.7,1.3
 C17,5.9,17.5,6.1,18,6.2c0.3,0.1,0.8,0.2,0.8,0.4c0.1,0.2,0,0.6-0.1,0.9c-0.1,0.5-0.2,1-0.1,1.5c0.1,0.5,0.5,0.9,0.8,1.2
 c0.2,0.3,0.5,0.6,0.5,0.8S19.7,11.6,19.5,11.8L19.5,11.8z M16.6,27.7c-0.4-0.1-0.8,0-1.1,0.3l-1.2,1.3L11.9,21
 c0.4-0.2,0.7-0.4,0.9-0.7c0.2-0.2,0.5-0.5,0.7-0.5c0.2,0,0.5,0,0.9,0.1c0.3,0.1,0.7,0.1,1,0.1c0.1,0,0.1,0,0.2,0l2.7,8.2L16.6,27.7z
 M8.1,29.3L6.8,28c-0.3-0.3-0.7-0.4-1.1-0.3L4,28.2L6.6,20c0.1,0,0.2,0,0.3,0c0.3,0,0.7-0.1,1-0.1c0.4-0.1,0.7-0.1,0.9-0.1
 c0.2,0,0.5,0.3,0.7,0.5c0.3,0.2,0.5,0.5,0.9,0.7h0l0.4,1.2L8.1,29.3z M20.5,12.7c0.4-0.5,0.9-1,0.9-1.7c0-0.7-0.5-1.2-0.9-1.7
 C20.3,9.1,20,8.9,20,8.7c-0.1-0.2,0-0.6,0.1-0.9c0.1-0.6,0.3-1.3-0.1-1.8c-0.3-0.6-1-0.8-1.6-1c-0.3-0.1-0.7-0.2-0.8-0.4
 c-0.1-0.1-0.3-0.5-0.4-0.8c-0.2-0.6-0.4-1.2-1-1.6C16,2.1,15.7,2,15.4,2c-0.3,0-0.7,0.1-1,0.1c-0.4,0.1-0.7,0.1-0.9,0.1
 c-0.2,0-0.5-0.3-0.7-0.5c-0.5-0.4-1-0.9-1.7-0.9c-0.7,0-1.2,0.5-1.7,0.9C9.3,2,9,2.2,8.8,2.2c-0.2,0-0.5,0-0.9-0.1
 C7.6,2.1,7.3,2,6.9,2C6.6,2,6.3,2.1,6.1,2.2c-0.6,0.3-0.8,1-1,1.6C5,4.1,4.9,4.5,4.7,4.6C4.6,4.7,4.2,4.9,3.9,5
 c-0.6,0.2-1.2,0.4-1.6,1C2,6.5,2.2,7.2,2.3,7.8c0.1,0.3,0.1,0.7,0.1,0.9c0,0.2-0.3,0.5-0.5,0.7C1.5,9.8,1,10.3,1,11
 c0,0.7,0.5,1.2,0.9,1.7c0.2,0.2,0.5,0.5,0.5,0.7c0.1,0.2,0,0.6-0.1,0.9c-0.1,0.6-0.3,1.3,0.1,1.8c0.3,0.6,1,0.8,1.6,1
 c0.3,0.1,0.7,0.2,0.8,0.4C4.9,17.6,5,18,5.1,18.3c0.1,0.4,0.2,0.7,0.5,1l-2.9,8.9c-0.1,0.4,0,0.8,0.3,1c0.3,0.3,0.7,0.4,1,0.3L6,29
 l1.4,1.5c0.2,0.2,0.5,0.3,0.8,0.3c0.1,0,0.2,0,0.2,0c0.4-0.1,0.7-0.4,0.8-0.7l2.1-6.1l1.9,6.1c0.1,0.4,0.4,0.7,0.8,0.7
 c0.1,0,0.2,0,0.2,0c0.3,0,0.6-0.1,0.8-0.3l1.4-1.5l2,0.6c0.4,0.1,0.8,0,1-0.3c0.3-0.3,0.4-0.7,0.3-1l-2.9-9c0.2-0.3,0.3-0.7,0.5-1
 c0.1-0.3,0.2-0.7,0.4-0.8c0.1-0.1,0.5-0.3,0.8-0.4c0.6-0.2,1.2-0.4,1.6-1c0.3-0.6,0.2-1.2,0.1-1.8C20,14,19.9,13.6,20,13.4
 C20,13.2,20.3,12.9,20.5,12.7L20.5,12.7z"></path>
                </symbol>
                <symbol id="logo" viewBox="0 0 305 29">
                    <g stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd">
                        <text font-family="Helvetica" font-size="24" font-weight="normal">
                            <tspan x="0" y="23">Powered by</tspan>
                        </text>
                        <g transform="translate(142.000000, 0.000000)">
                            <polygon points="51.3 9.2041908 45.0553299 9.2041908 45.0553299 21.5520738 42.6723677 21.5520738 42.6723677 9.2041908 36.45 9.2041908 36.45 6.70207384 51.3 6.70207384"></polygon>
                            <path d="M53.5077741,15.1931316 L59.8596316,15.1931316 C59.7126648,13.6192178 58.496936,12.7252152 56.6094966,12.7252152 C55.0371927,12.7252152 53.8421838,13.6832497 53.5077741,15.1931316 M59.922755,18.1053609 C60.5086949,18.4460497 61.0753604,18.7867385 61.6613002,19.1059204 C60.7814267,21.1041066 58.6646227,21.9130592 56.6726201,21.9130592 C53.3188856,21.9130592 51.074871,19.6792747 51.074871,16.2777635 C51.074871,12.7677402 53.2769639,10.5354221 56.6094966,10.5354221 C59.691463,10.5354221 62.0602789,12.6411428 62.1234024,15.659929 C62.0809988,16.2562566 61.9133121,16.765579 61.8713904,16.9571859 L53.4451325,16.935679 C53.7371387,18.6161497 54.9740692,19.7433066 56.6514183,19.7433066 C57.6782586,19.7433066 59.2510444,19.4661609 59.922755,18.1053609"></path>
                            <path d="M70.8546767,19.5941758 C72.8876373,19.5941758 73.8513542,18.105312 73.8513542,16.1921758 C73.8513542,14.3416051 72.9714807,12.8742482 70.8753966,12.8742482 C68.9465174,12.8742482 67.6883851,14.2565551 67.6883851,16.3627646 C67.6883851,18.3399327 68.9672373,19.5941758 70.8546767,19.5941758 M70.1622462,10.5994051 C71.6087851,10.5994051 72.929559,11.173737 73.8301524,12.194337 C73.8932758,11.7470913 73.9563993,11.3003344 73.998321,10.8545551 L76.2216157,10.8545551 L76.2216157,21.4872715 L73.998321,21.4872715 L73.8513542,20.2115215 C73.0134024,21.2746465 71.7764719,21.8064534 70.4137763,21.8064534 C67.7303068,21.8064534 65.2781294,19.7432577 65.2781294,16.2136827 C65.2781294,12.4499758 67.5626201,10.5994051 70.1622462,10.5994051"></path>
                            <path d="M82.7166815,16.1497486 C84.8768527,14.4057348 87.0567802,12.6411917 89.2376713,10.8546529 L92.2348306,10.8546529 L86.8678917,15.2572124 C88.1467439,18.0218262 89.6978461,19.4041331 90.7878098,19.4041331 C91.0605417,19.4041331 91.3337554,19.3826262 91.6272072,19.2975762 L91.6272072,21.4873693 C91.1024634,21.5939262 90.640843,21.6579581 90.2437917,21.6579581 C88.2513072,21.6579581 87.0987019,20.1265693 85.2127081,16.5539805 L82.7166815,18.5526555 L82.7166815,21.4873693 L80.3478656,21.4873693 L80.3478656,7.34511841 L82.7166815,7.34511841 L82.7166815,16.1497486 Z"></path>
                            <path d="M102.155717,9.13190159 C99.1571121,9.13190159 97.2503984,11.0675223 97.2503984,14.2564085 C97.2503984,17.5322999 99.1571121,19.6790792 102.197639,19.6790792 C105.195762,19.6790792 107.144879,17.7449249 107.144879,14.5545723 C107.144879,11.2791697 105.195762,9.13190159 102.155717,9.13190159 M94.7770192,14.4695223 C94.7770192,9.79177228 97.7105732,6.81453349 102.155717,6.81453349 C106.621581,6.81453349 109.619704,9.83429728 109.619704,14.3204404 C109.619704,18.999168 106.663021,21.9768956 102.21884,21.9768956 C97.7524949,21.9768956 94.7770192,18.9571318 94.7770192,14.4695223"></path>
                            <path d="M115.768217,16.0647475 L115.768217,21.4874181 L113.399401,21.4874181 L113.399401,10.8547018 L115.455009,10.8547018 C115.476211,11.2789742 115.600048,12.6202225 115.62125,13.0444949 C116.712659,11.5556311 118.850183,10.599063 120.317924,10.599063 L120.317924,13.0444949 C118.598653,13.0444949 115.768217,14.1076199 115.768217,16.0647475"></path>
                            <path d="M123.461954,7.55334427 C123.461954,6.74976841 123.990071,6.2468003 124.733578,6.2468003 C125.476122,6.2468003 126.004239,6.78349513 126.004239,7.52010634 C126.004239,8.32417099 125.476122,8.82616151 124.749961,8.82616151 C123.990071,8.82616151 123.461954,8.29093306 123.461954,7.55334427"></path>
                            <polygon points="123.6015 21.4873204 125.969834 21.4873204 125.969834 10.854604 123.6015 10.854604"></polygon>
                            <path d="M145.039236,7.55334427 C145.039236,6.74976841 145.566871,6.2468003 146.310378,6.2468003 C147.052922,6.2468003 147.581521,6.78349513 147.581521,7.52010634 C147.581521,8.32417099 147.052922,8.82616151 146.326762,8.82616151 C145.566871,8.82616151 145.039236,8.29093306 145.039236,7.55334427"></path>
                            <polygon points="145.178638 21.4873204 147.547454 21.4873204 147.547454 10.854604 145.178638 10.854604"></polygon>
                            <path d="M135.228888,19.4252 C136.925993,19.4252 138.33061,18.2965768 138.33061,16.2138294 C138.33061,14.3632587 137.450737,12.8743949 135.355135,12.8743949 C133.425774,12.8743949 132.167641,14.2567018 132.167641,16.3624225 C132.167641,18.3180837 133.552021,19.4252 135.228888,19.4252 M130.574618,23.8688181 C131.183205,23.4445457 131.769145,23.0188069 132.398933,22.6140862 C132.922232,23.4870707 134.200602,23.9968819 135.355135,23.9968819 C137.366894,23.9968819 138.226047,22.8056931 138.33061,20.0200612 C137.492659,21.0831862 136.213807,21.6149931 134.830391,21.6149931 C132.167641,21.6149931 129.757386,19.6583544 129.757386,16.2138294 C129.757386,12.4496337 132.021157,10.599063 134.641503,10.599063 C136.088041,10.599063 137.429535,11.1953906 138.309891,12.1944837 C138.372532,11.747238 138.435656,11.3004811 138.477577,10.8547018 L140.70039,10.8547018 L140.70039,20.743475 C140.70039,24.5071819 138.834153,26.1876526 135.333933,26.1876526 C133.404572,26.1876526 131.559536,25.5488 130.574618,23.8688181"></path>
                            <path d="M159.298294,10.6207165 C161.582784,10.6207165 163.239895,12.2371553 163.239895,14.7246234 L163.239895,21.487076 L160.829158,21.487076 L160.829158,15.065801 C160.829158,13.6619872 159.759914,12.8955596 158.565387,12.8955596 C157.160288,12.8955596 155.567264,13.7680553 154.916273,15.7452234 L154.916273,21.487076 L152.547939,21.487076 L152.547939,10.8548484 L154.811228,10.8548484 L154.916273,12.7679846 C156.090562,11.1955372 157.725508,10.6207165 159.298294,10.6207165"></path>
                            <path d="M20.3324973,20.1054045 C20.3324973,20.4524476 20.0554288,20.7335037 19.7133093,20.7335037 C19.3711898,20.7335037 19.0941212,20.4524476 19.0941212,20.1054045 L19.0941212,16.2004364 C19.0941212,13.9275485 17.7588916,11.8912364 15.6907553,11.013364 C15.3761018,10.8794347 15.2267257,10.5113735 15.3597186,10.191214 C15.4917478,9.87154332 15.8526597,9.72148384 16.1706863,9.85492435 C18.6989973,10.9288028 20.3324973,13.4196925 20.3324973,16.2004364 L20.3324973,20.1054045 Z M11.1704416,7.79026228 C10.838923,7.88704332 10.4982491,7.69397004 10.4038049,7.36061315 C10.3088788,7.02676746 10.4992128,6.67874677 10.8283221,6.58294332 C11.7091593,6.32632694 12.6266177,6.19533039 13.5551588,6.19533039 C15.7943549,6.19533039 17.9058584,6.93780711 19.6593412,8.34259849 C19.9277363,8.55766746 19.9739947,8.95261228 19.7614951,9.22487004 C19.639585,9.38226142 19.4584062,9.46388987 19.2757819,9.46388987 C19.1403796,9.46388987 19.0049774,9.42038728 18.8917407,9.32849418 C17.3584673,8.1011347 15.5139133,7.45152866 13.5551588,7.45152866 C12.7422637,7.45152866 11.9399695,7.56590625 11.1704416,7.79026228 L11.1704416,7.79026228 Z M8.27977301,9.27863728 C6.15140442,10.9507985 4.93037522,13.4749261 4.93037522,16.2004364 L4.93037522,20.0575028 C4.93037522,20.4045459 4.65330664,20.6856019 4.31118717,20.6856019 C3.9690677,20.6856019 3.69199912,20.4045459 3.69199912,20.0575028 L3.69199912,16.2004364 C3.69199912,13.082914 5.08794292,10.1975683 7.52084602,8.28492091 C7.79261416,8.07229591 8.18051018,8.12361918 8.38963673,8.39685453 C8.59972699,8.67106746 8.55009558,9.06650108 8.27977301,9.27863728 L8.27977301,9.27863728 Z M12.0854907,0.377226078 L1.62289912,6.10832522 C0.62304292,6.65577349 -3.19744231e-14,7.71596573 -3.19744231e-14,8.86853987 L-3.19744231e-14,19.9768519 C-3.19744231e-14,21.1299149 0.62304292,22.1896183 1.62289912,22.7375554 L5.43247168,24.8237244 C6.03961327,25.1565925 6.7773385,24.7103244 6.7773385,24.0098838 L6.7773385,16.2004364 C6.7773385,12.7573778 9.31143186,9.82608556 12.6719124,9.38226142 C13.0193323,9.33778125 13.3229031,9.5821778 13.3667522,9.92433297 C13.4106013,10.2689321 13.1711177,10.5842037 12.8323712,10.6291726 C10.0857783,10.9913683 8.0157146,13.3864545 8.0157146,16.2004364 L8.0157146,25.6815563 C8.0157146,26.197233 8.42770354,26.6146623 8.93606416,26.6146623 C9.44394292,26.6146623 9.85593186,26.197233 9.85593186,25.6815563 L9.85593186,20.2784373 C9.85593186,19.931883 10.1330004,19.6503381 10.4751199,19.6503381 C10.8172394,19.6503381 11.094308,19.931883 11.094308,20.2784373 L11.094308,27.3678925 C11.094308,27.884058 11.5067788,28.3024649 12.0151394,28.3024649 C12.5235,28.3024649 12.9354889,27.884058 12.9354889,27.3678925 L12.9354889,16.2004364 C12.9354889,15.8533933 13.2130394,15.5723373 13.5551588,15.5723373 C13.8972783,15.5723373 14.1743469,15.8533933 14.1743469,16.2004364 L14.1743469,27.3678925 C14.1743469,27.884058 14.5863358,28.3024649 15.0946965,28.3024649 C15.6030571,28.3024649 16.0155279,27.884058 16.0155279,27.3678925 L16.0155279,16.3490295 C16.0155279,15.0439519 15.092769,13.850808 13.8129531,13.718345 C12.3418394,13.564864 11.094308,14.7384563 11.094308,16.2004364 L11.094308,17.0553356 C11.094308,17.4023787 10.8172394,17.6834347 10.4751199,17.6834347 C10.1330004,17.6834347 9.85593186,17.4023787 9.85593186,17.0553356 L9.85593186,16.3089485 C9.85593186,14.5180106 11.0485314,12.8883744 12.7774394,12.5291114 C15.1549288,12.0344528 17.253904,13.87427 17.253904,16.2004364 L17.253904,25.6815563 C17.253904,26.197233 17.6658929,26.6146623 18.1742535,26.6146623 C18.6821323,26.6146623 19.0941212,26.197233 19.0941212,25.6815563 L19.0941212,23.1804019 C19.0941212,22.8333588 19.3711898,22.5523028 19.7133093,22.5523028 C20.0554288,22.5523028 20.3324973,22.8333588 20.3324973,23.1804019 L20.3324973,23.9981528 C20.3324973,24.5152959 20.7459319,24.9346804 21.2562199,24.9346804 C21.7660261,24.9346804 22.1794606,24.5152959 22.1794606,23.9981528 L22.1794606,15.0845218 C22.1794606,13.6763088 21.5005221,12.4440614 20.6967823,11.2958864 C20.4958473,11.0084761 20.5676442,10.6096209 20.8538681,10.4121485 C21.1376827,10.21712 21.5226876,10.292883 21.715431,10.5783381 C22.8294876,12.2392571 23.4178367,14.1831873 23.4178367,16.2004364 L23.4178367,22.3196373 C23.4178367,23.0205666 24.1555619,23.4663459 24.7627035,23.1334778 L25.4864549,22.7375554 C26.4863111,22.1896183 27.109354,21.1299149 27.109354,19.9768519 L27.109354,8.86853987 C27.109354,7.71596573 26.4863111,6.65577349 25.4864549,6.10832522 L15.0243451,0.377226078 C14.1073686,-0.125742026 13.0024673,-0.125742026 12.0854907,0.377226078 L12.0854907,0.377226078 Z"></path>
                        </g>
                    </g>
                </symbol>
                <symbol id="location" viewBox="0 0 297 297">
                    <g>
                        <path d="M148.5,0C87.43,0,37.747,49.703,37.747,110.797c0,91.026,99.729,179.905,103.976,183.645
 c1.936,1.705,4.356,2.559,6.777,2.559c2.421,0,4.841-0.853,6.778-2.559c4.245-3.739,103.975-92.618,103.975-183.645
 C259.253,49.703,209.57,0,148.5,0z M148.5,272.689c-22.049-21.366-90.243-93.029-90.243-161.892
 c0-49.784,40.483-90.287,90.243-90.287s90.243,40.503,90.243,90.287C238.743,179.659,170.549,251.322,148.5,272.689z"></path>
                        <path d="M148.5,59.183c-28.273,0-51.274,23.154-51.274,51.614c0,28.461,23.001,51.614,51.274,51.614
 c28.273,0,51.274-23.153,51.274-51.614C199.774,82.337,176.773,59.183,148.5,59.183z M148.5,141.901
 c-16.964,0-30.765-13.953-30.765-31.104c0-17.15,13.801-31.104,30.765-31.104c16.964,0,30.765,13.953,30.765,31.104
 C179.265,127.948,165.464,141.901,148.5,141.901z"></path>
                    </g>
                </symbol>
                <symbol id="apple" viewBox="0 0 132 132">
                    <g id="Group-3" transform="translate(197.000000, 83.000000)">
                        <path d="M-120.4-9c0,13.8,11.1,24.9,24.9,24.9h0.4h0.4c0.1,0,0.2,0.1,0.4,0.3s0.1,0.4,0,0.5
 c-1.6,2.9-3.5,5.2-5.4,7.4c-7.2,7.5-17.4,9.8-26,5.5l-1.2-0.6c-1.6-0.9-2.8-1.4-4.1-1.4h-0.6c-1.6-0.1-2.9,0.5-4.9,1.5l-1,0.5
 c-8.6,4.2-18.8,2-26-5.5c-2-2-3.8-4.5-5.4-7.4c-0.1-0.1-0.1-0.4,0-0.5s0.2-0.3,0.4-0.3h0.4h0.4C-154.1,15.8-143,4.7-143-9
 s-11.1-25-24.9-25c-0.9,0-1.8,0-2.9,0.1c-0.1,0-0.4,0-0.5-0.2c-0.1-0.1-0.1-0.4,0-0.5c3.2-6.1,7.8-10.5,13.5-13.1
 c3-1.4,6.9-2.1,11.1-2.1c4.4,0,11.9,0.5,14.8,1.4c0.8,0.2,1.5,0.1,2.1-0.1c0.8,0.4,1.6,0.5,2.4,0.2c3.2-1,6.9-1.5,10.5-1.5
 c4.2,0,8.1,0.8,11.1,2.1c5.6,2.5,10.1,6.9,13.2,12.8c0,0.1,0.1,0.2,0.1,0.2c0,0.1,0.1,0.1,0.1,0.2c0,0.2-0.4,0.5-0.5,0.5
 c-1-0.1-2-0.1-2.9-0.1c-6.6,0-12.9,2.6-17.6,7.2C-117.7-22-120.4-15.8-120.4-9 M-95.4-28c0.6,0,1.4,0,2.2,0.1h0.5h0.4
 c3.5,0,6.4-2.9,6.4-6.5c0-1.2-0.4-2.5-1-3.5c-3.9-7-9.2-12.1-16-15.3c-3.8-1.8-8.5-2.6-13.6-2.6c-2.8,0-5.5,0.2-8.2,0.8
 c0.2-1.6,0.8-3.2,1.6-4.9c2.2-4.3,6.8-7.3,13.4-9.1c1.6-0.5,2.5-2.1,2.1-3.8c-0.5-1.6-2.1-2.5-3.8-2.1c-8.2,2.4-14,6.4-17.1,12.1
 c-1.4,2.5-2.1,5.4-2.4,8.4c-4.6-1.1-12.8-1.4-15.5-1.4c-5.1,0-9.9,0.9-13.6,2.6c-7,3.1-12.4,8.5-16.2,15.8c-1.1,2.1-1,4.8,0.4,6.6
 c1.4,2,3.8,3.1,6.1,2.8c0.8-0.1,1.5-0.1,2.1-0.1c10.4,0,18.9,8.5,18.9,18.9s-8.5,18.9-18.9,18.9h-0.5c-2.4-0.1-4.5,1.1-5.8,3.1
 c-1.2,2-1.2,4.5,0,6.6c1.9,3.2,4,6.1,6.2,8.5c9.1,9.4,22,12.1,33,6.7l1-0.5l0.2-0.1c0.5-0.2,1.1-0.6,1.5-0.7h0.9
 c0.2,0.1,1,0.5,1.5,0.7l1.2,0.6c3.8,1.9,7.8,2.9,11.9,2.9c7.8,0,15.2-3.4,21.1-9.5c2.4-2.4,4.5-5.3,6.2-8.5c1.1-2,1.1-4.5,0-6.6
 c-1.2-2-3.5-3.3-5.8-3.1h-0.5c-10.4,0-18.9-8.5-18.9-18.9c0-5,2-9.7,5.5-13.4C-105.2-26-100.5-28-95.4-28"></path>
                    </g>
                </symbol>
                <symbol id="star" viewBox="0 0 28 27">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                        <g transform="translate(-926.000000, -207.000000)" stroke="currentColor" stroke-width="2.2">
                            <g transform="translate(510.000000, 160.000000)">
                                <g transform="translate(311.000000, 27.000000)">
                                    <g transform="translate(0.000000, 16.000000)">
                                        <polygon points="119 26.9578451 111.358792 29.5172209 111.43164 21.4591094 106.636265 14.9827791 114.322496 12.5619681 119 6 123.677504 12.5619681 131.363735 14.9827791 126.56836 21.4591094 126.641208 29.5172209"></polygon>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </symbol>
                <symbol id="dollar" viewBox="0 0 16 28">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-1211.000000, -208.000000)" fill="currentColor" stroke="currentColor">
                            <g transform="translate(510.000000, 160.000000)">
                                <g transform="translate(311.000000, 27.000000)">
                                    <g transform="translate(300.000000, 15.000000)">
                                        <path d="M96.656063,32.1141397 L99.1357701,32.1141397 L99.1357701,30.2638728 C99.065634,29.8593299 99.1166955,29.5283135 99.2866068,29.2787961 C99.2989319,29.2604884 99.3133113,29.2433617 99.3282776,29.227121 C99.5357513,29.0044747 99.840946,28.8515162 100.234471,28.7741511 C101.860513,28.2848609 102.973007,27.3278365 103.635632,25.848745 C104.309114,24.4021352 104.285931,22.9761953 103.56755,21.4847019 C103.21012,20.8465872 102.730905,20.2849517 102.155437,19.8420216 C101.615184,19.4111982 100.968112,19.0344123 100.225961,18.7166837 C98.5579543,17.9371266 97.4105396,17.3940943 96.8022043,17.0985122 C96.3966475,16.8823623 96.1028975,16.5770358 95.9150854,16.1840091 C95.7193499,15.842067 95.6762118,15.4124248 95.7865515,14.9071891 C95.9021733,14.3703578 96.2898293,13.6867689 97.4792084,13.4868597 C97.8742008,13.3932538 98.3161462,13.3427598 98.7642542,13.3427598 C99.5474896,13.3427598 100.378265,13.4968995 101.234864,13.802226 C101.50367,13.8955366 101.814441,14.0405224 102.157785,14.2321635 C102.296296,14.2879727 102.426004,14.3405338 102.546615,14.3898467 L103.359783,11.5409199 L99.5284149,10.4377286 C99.3397224,10.3833958 99.2094277,10.2097672 99.2094277,10.011925 L99.2094277,7.88615559 L96.7884118,7.88615559 L96.7884118,10.3072118 C96.7884118,10.4823169 96.6859955,10.6408859 96.5269421,10.71205 L95.7346097,11.0663941 C95.7246322,11.0711187 95.7143612,11.0749574 95.7040902,11.0785009 C93.612039,11.8320727 92.4678523,13.1304486 92.2060891,15.0477456 C91.8251826,17.2042249 92.6242646,18.8161953 94.6461796,19.9929131 C95.0053704,20.1727428 95.5060071,20.4021806 96.1105274,20.6632141 C97.1288214,21.1504373 97.4621879,21.2954231 97.5654846,21.3323339 C97.5786901,21.3367632 97.5918957,21.3420784 97.6048077,21.3485747 C98.3082229,21.6778194 98.5156966,21.7814651 98.5952233,21.8233958 C98.9934437,21.999682 99.3224084,22.2288245 99.5730203,22.5066894 C100.173139,23.005724 100.465421,23.6249404 100.441358,24.3475071 C100.441358,24.362862 100.440478,24.3773311 100.437836,24.3912095 C100.327203,25.2327768 99.8248059,25.8136059 98.9855204,26.0705054 C98.5250872,26.2042703 98.0919455,26.2881317 97.6910839,26.322385 C97.2236078,26.4266212 96.7432196,26.4254401 96.2663528,26.3188416 C95.7252191,26.2349801 95.0370637,26.0445202 94.2203743,25.7545486 C93.8661723,25.6361386 93.329147,25.4645769 92.624558,25.24636 L92.196405,26.9238842 C92.1937639,26.9348098 92.1902425,26.9457354 92.186721,26.9557751 C91.9801276,27.565247 91.9126326,27.8575809 91.8912103,27.9919364 C92.0379386,28.0982396 92.3460678,28.2706871 92.9840422,28.4903805 C92.998715,28.4959909 93.0130944,28.5013061 93.0271803,28.5080977 C93.4124886,28.6879273 93.9301459,28.8414764 94.5663595,28.9616581 C95.3592789,29.1045769 95.9505936,29.2516298 96.3708233,29.4107893 C96.5424953,29.4751618 96.6563564,29.6408177 96.6563564,29.8253719 L96.656063,32.1141397 Z M96.2158783,33 C95.9726029,33 95.7756936,32.801272 95.7756936,32.5570698 L95.7756936,30.1445769 C95.4279477,30.0394549 94.9692752,29.9352186 94.4064257,29.8327541 C93.7059451,29.7001704 93.1254882,29.5283135 92.6767933,29.3216127 C91.8862216,29.0472913 91.3967362,28.7859625 91.1367337,28.5004202 C91.1156049,28.4773878 91.0971171,28.4519932 91.0815639,28.4248268 C90.9439328,28.1868257 90.9486281,27.8655537 91.3477289,26.6870642 L91.886515,24.5769449 C91.9164476,24.4597161 91.9924528,24.3602044 92.0972168,24.3008518 C92.2019807,24.2417944 92.3261128,24.2276207 92.4411477,24.2633504 C93.3719917,24.5494832 94.0668966,24.7691766 94.5059074,24.9162294 C95.2856213,25.1935037 95.9247695,25.3706758 96.4133745,25.4444974 C96.4242324,25.4462692 96.4347968,25.4489267 96.4453612,25.4506985 C96.8092473,25.5339693 97.1704922,25.5339693 97.5246941,25.451289 C97.5464099,25.4459739 97.5684191,25.4424304 97.5907218,25.4406587 C97.9405219,25.4137876 98.3255368,25.3396706 98.7349086,25.2209654 C99.234078,25.0677115 99.4917328,24.7818739 99.5621624,24.2958319 C99.5697922,23.8579216 99.3834474,23.489699 98.9910961,23.170494 C98.971728,23.1551391 98.9538271,23.1377172 98.9371001,23.1188189 C98.7663084,22.923339 98.5274349,22.7573878 98.2275224,22.6274617 C98.2143168,22.6212606 98.2011113,22.6153549 98.1884927,22.608268 C98.1441807,22.5834639 97.9628246,22.491925 97.2511927,22.1588416 C97.1217784,22.1104145 96.8086603,21.9778308 95.7481087,21.4696422 C95.1435883,21.2094946 94.6273984,20.9717888 94.229178,20.7721749 C91.8571694,19.3922998 90.891991,17.4239182 91.3368711,14.9095514 C91.6400116,12.6878137 93.0051711,11.1142306 95.3918525,10.2499262 L95.9080424,10.0193072 L95.9080424,7.44293015 C95.9080424,7.19813742 96.1049517,7 96.3482271,7 L99.6496124,7 C99.8928878,7 100.089797,7.19813742 100.089797,7.44293015 L100.089797,9.67795571 L104.025929,10.810971 C104.138323,10.8434526 104.233402,10.9196366 104.289746,11.0223964 C104.34609,11.1251562 104.359882,11.2468143 104.327602,11.3599091 L103.256486,15.1097558 C103.221858,15.231414 103.137343,15.3318115 103.024068,15.3867348 C102.910794,15.4416581 102.779619,15.4449063 102.663704,15.3964793 C102.430993,15.2984441 102.143992,15.1812152 101.803876,15.0442022 C101.785975,15.0371153 101.769542,15.0291425 101.752521,15.0196934 C101.444392,14.84636 101.172065,14.7182056 100.942875,14.6381829 C99.7529091,14.2147416 98.6498062,14.1199546 97.6514673,14.3558887 C96.8614825,14.489063 96.7006684,14.8419307 96.6460855,15.0961726 C96.5829923,15.3852584 96.595024,15.6040659 96.6813002,15.7490517 C96.6889301,15.7620443 96.6959731,15.7750369 96.7024291,15.7886201 C96.8086603,16.0168768 96.9715287,16.186962 97.1998378,16.3092107 C97.7890984,16.5959341 98.9324048,17.1360136 100.583097,17.9081885 C101.384527,18.2507212 102.100267,18.668552 102.695984,19.1439637 C103.36125,19.6559909 103.918524,20.3076888 104.34697,21.0757297 C105.18919,22.8226462 105.214721,24.5450539 104.4353,26.2196252 C103.671727,27.9237252 102.335033,29.0735718 100.464248,29.6310733 C100.449575,29.6352073 100.434608,29.6387507 100.420229,29.6414083 C100.19104,29.6842249 100.067494,29.7494832 100.001467,29.8052924 C99.9879677,29.8448609 99.9700669,29.9420102 100.007923,30.1410335 C100.013498,30.169381 100.015846,30.1968427 100.015846,30.2251902 L100.015846,32.5579557 C100.01614,32.8015673 99.8192302,33 99.5759548,33 L96.2158783,33 Z"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </symbol>
                <symbol id="diamond" viewBox="0 0 30 24">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-1478.000000, -210.000000)" fill="currentColor">
                            <g transform="translate(510.000000, 160.000000)">
                                <g transform="translate(311.000000, 27.000000)">
                                    <g transform="translate(529.000000, 14.000000)">
                                        <g transform="translate(0.000000, 9.000000)">
                                            <path d="M149.771249,9.00447375 L155.108285,9.00447375 L145.606295,19.092105 L149.771249,9.00447375 Z M138.118381,9.00447375 L147.88206,9.00447375 L143,20.8183306 L138.118381,9.00447375 Z M130.892156,9.00447375 L136.229192,9.00447375 L140.393705,19.092105 L130.892156,9.00447375 Z M152.088054,2.7028082 L155.425577,7.29194829 L150.419513,7.29194829 L152.088054,2.7028082 Z M133.911946,2.7028082 L135.580928,7.29194829 L130.574864,7.29194829 L133.911946,2.7028082 Z M143,2.19461627 L147.31676,7.29194829 L138.683682,7.29194829 L143,2.19461627 Z M144.861829,1.72624055 L150.584999,1.72624055 L148.860855,6.43568556 L144.861829,1.72624055 Z M135.415442,1.72624055 L141.138613,1.72624055 L137.139145,6.43568556 L135.415442,1.72624055 Z M151.784442,0.00044302463 C151.756641,0.00386807555 151.72928,0.00814938919 151.70192,0.0137150969 L134.187756,0.0137150969 C134.164809,0.0128588342 134.141861,0.0128588342 134.118914,0.0137150969 C133.853695,0.0312684829 133.610099,0.163989206 133.456969,0.375057969 L128.161415,7.65329117 C127.922674,7.98166792 127.951358,8.42649641 128.230257,8.72361958 L142.214051,23.5609401 C142.45191,23.9740869 142.989409,24.1217922 143.41526,23.8910294 C143.503078,23.8435068 143.58207,23.7818559 143.648264,23.7082173 L157.769743,8.72361958 C158.048642,8.42649641 158.077326,7.98166792 157.838585,7.65329117 L152.543031,0.375057969 C152.373132,0.132307485 152.08673,-0.00897586539 151.784442,0.00044302463 L151.784442,0.00044302463 Z"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </symbol>
                <symbol id="globe" viewBox="0 0 23 23">
                    <path d="M16.3,16.8l0.3,0.1c0.6,0.2,1.3,0.5,1.8,0.8l0.4,0.2l-0.3,0.3c-0.9,1-2.1,1.7-3.3,2.2l-0.1,0h-0.7
 l0.4-0.5c0.6-0.9,1.1-1.9,1.4-2.9L16.3,16.8z M6.7,16.8l0.1,0.3c0.3,1,0.8,2,1.4,2.9L9,21l-1.1-0.5c-1.3-0.5-2.4-1.3-3.3-2.2L4.2,18
 l0.4-0.2c0.5-0.3,1.2-0.6,1.8-0.8L6.7,16.8z M11.9,16.1l0.4,0c1.1,0,2.1,0.2,3,0.4l0.4,0.1L15.5,17c-0.5,1.5-1.5,3.5-3.2,4.1
 l-0.5,0.2v-4.8L11.9,16.1z M11.1,16.1v5.2l-0.5-0.2C9,20.5,8,18.5,7.5,17l-0.1-0.4l0.4-0.1c0.9-0.2,2-0.4,3-0.4L11.1,16.1z
 M6.7,11.9h4.5v3.5l-0.3,0c-1.1,0-2.2,0.2-3.3,0.4l-0.3,0.1l-0.1-0.3c-0.2-1.1-0.4-2.2-0.4-3.4L6.7,11.9z M1.7,11.9H6l0,0.3
 c0,1.3,0.2,2.5,0.5,3.6l0.1,0.3l-0.3,0.1c-0.8,0.3-1.6,0.6-2.2,1l-0.3,0.2l-0.2-0.3c-1-1.4-1.7-3.1-1.8-4.9L1.7,11.9z M17.1,11.9
 h4.2l0,0.4c-0.1,1.8-0.8,3.5-1.8,4.9l-0.2,0.3L19,17.3c-0.7-0.4-1.4-0.8-2.2-1l-0.3-0.1l0.1-0.3c0.3-1.1,0.4-2.4,0.5-3.6L17.1,11.9z
 M11.9,11.9h4.5l0,0.4c0,1.2-0.2,2.3-0.4,3.4l-0.1,0.3l-0.3-0.1c-1-0.2-2.1-0.4-3.3-0.4l-0.3,0v-3.2V11.9z M15.8,7.1l0.1,0.3
 c0.2,1.1,0.4,2.2,0.4,3.4l0,0.4h-4.5V7.6l0.3,0c1.1,0,2.2-0.2,3.3-0.4L15.8,7.1z M7.2,7.1l0.3,0.1c1,0.2,2.1,0.4,3.3,0.4l0.3,0v3.5
 H6.7l0-0.4c0-1.2,0.2-2.3,0.4-3.4L7.2,7.1z M19.3,5.6l0.2,0.3c1,1.4,1.7,3.1,1.8,4.9l0,0.4h-4.2l0-0.3c0-1.3-0.2-2.5-0.5-3.6
 l-0.1-0.3l0.3-0.1c0.8-0.3,1.6-0.6,2.2-1L19.3,5.6z M3.7,5.6L4,5.7c0.7,0.4,1.4,0.8,2.2,1l0.3,0.1L6.4,7.2C6.2,8.3,6,9.5,6,10.8
 l0,0.3H1.7l0-0.4c0.1-1.8,0.8-3.5,1.8-4.9L3.7,5.6z M7.9,2.4h0.7L8.3,3C7.6,3.8,7.2,4.8,6.8,5.8L6.7,6.2L6.4,6.1
 C5.7,5.8,5.1,5.5,4.6,5.2L4.2,5l0.3-0.3C5.4,3.7,6.6,3,7.9,2.4L7.9,2.4z M14,2l1.1,0.5c1.3,0.5,2.4,1.3,3.3,2.2L18.8,5l-0.4,0.2
 c-0.5,0.3-1.2,0.6-1.8,0.8l-0.3,0.1l-0.1-0.3c-0.3-1-0.8-2-1.4-2.9L14,2z M11.9,1.7l0.5,0.2C14,2.5,15,4.5,15.5,6l0.1,0.4l-0.4,0.1
 c-0.9,0.2-2,0.4-3,0.4l-0.4,0V2.2L11.9,1.7z M11.1,1.7v5.2l-0.4,0c-1.1,0-2.1-0.2-3-0.4L7.4,6.4L7.5,6C8,4.5,9,2.5,10.7,1.9
 L11.1,1.7z M11.5,1C5.7,1,1,5.7,1,11.5C1,17.3,5.7,22,11.5,22S22,17.3,22,11.5C22,5.7,17.3,1,11.5,1L11.5,1z"></path>
                </symbol>
                <symbol id="organic" viewBox="0 0 21 21">
                    <path d="M16.2,15.4c-1.7,1.7-3.3,1.8-4.3,0.9c-0.9-0.9-0.9-2.5,0.9-4.3c1.7-1.7,4.9-1.4,4.9-1.4
 S17.9,13.6,16.2,15.4 M8.1,7.7c0-2.5,2.4-4.4,2.4-4.4s2.4,2,2.4,4.4c0,2.5-1.1,3.6-2.4,3.6C9.2,11.3,8.1,10.1,8.1,7.7 M9.1,16.2
 c-0.9,0.9-2.5,0.9-4.3-0.9c-1.7-1.7-1.4-4.9-1.4-4.9s3.1-0.3,4.9,1.4C10,13.7,10,15.3,9.1,16.2 M10.5,0C4.7,0,0,4.7,0,10.5
 C0,16.3,4.7,21,10.5,21S21,16.3,21,10.5C21,4.7,16.3,0,10.5,0"></path>
                </symbol>
                <symbol id="mobileFilter" viewBox="0 0 22 19">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-282.000000, -56.000000)" fill="#333333">
                            <path d="M294.248649,73.5546704 C293.951351,73.3106724 293.772973,73.0049105 293.714108,72.6373846 L293.714108,72.5156914 L293.714108,72.3933866 C293.714108,72.1481655 293.833027,71.9647084 293.951351,71.7818628 C294.130324,71.4761008 294.427622,71.2926437 294.783784,71.2308798 C295.140541,71.1703389 295.437838,71.2926437 295.735135,71.4761008 C296.032432,71.6589465 296.211405,71.9647084 296.27027,72.3316227 L296.27027,72.5156914 C296.27027,72.8214533 296.211405,73.0654513 296.032432,73.3106724 C295.616811,73.8604323 294.843243,73.9827371 294.248649,73.5546704 M296.984378,73.9827371 C297.162162,73.7387391 297.340541,73.4329771 297.400595,73.0654513 L303.405405,73.0654513 C303.762162,73.0654513 304,72.8214533 304,72.4539275 C304,72.0876247 303.762162,71.8424036 303.405405,71.8424036 L297.400595,71.8424036 C297.281676,71.2926437 296.924324,70.7416607 296.448649,70.3753579 C295.914108,69.9472912 295.259459,69.8243749 294.606,69.8855273 C293.951351,70.0078321 293.356757,70.3753579 293,70.9251178 C292.822216,71.2308798 292.702703,71.4761008 292.583784,71.8424036 L282.594595,71.8424036 C282.237838,71.8424036 282,72.0876247 282,72.4539275 C282,72.8214533 282.237838,73.0654513 282.594595,73.0654513 L292.643243,73.0654513 C292.762162,73.6164343 293.119514,74.1661942 293.594595,74.5337201 C294.664865,75.3280896 296.211405,75.08348 296.984378,73.9827371 M287.768162,66.58391 C287.470865,66.3998413 287.291892,66.0940794 287.232432,65.7271651 C287.173568,65.3608623 287.232432,65.0551004 287.470865,64.7493385 C287.886486,64.1378146 288.718919,64.0148983 289.254649,64.4435765 C289.551946,64.6264222 289.72973,64.9321841 289.789189,65.2990984 L289.789189,65.4825556 C289.789189,65.7883175 289.72973,66.032927 289.551946,66.2781481 C289.135135,66.8896719 288.302703,67.0113652 287.768162,66.58391 M290.502703,67.0725176 C290.681081,66.827908 290.859459,66.5221461 290.918919,66.1552318 L303.405405,66.1552318 C303.762162,66.1552318 304,65.9106223 304,65.543708 C304,65.1767936 303.762162,64.9321841 303.405405,64.9321841 L290.918919,64.9321841 C290.8,64.3818126 290.443838,63.8320527 289.967568,63.4645269 C288.837838,62.609005 287.291892,62.9147669 286.518919,64.0148983 C286.340541,64.2595079 286.221622,64.5652698 286.102703,64.9321841 L282.594595,64.9321841 C282.237838,64.9321841 282,65.1767936 282,65.543708 C282,65.9106223 282.237838,66.1552318 282.594595,66.1552318 L286.102703,66.1552318 C286.221622,66.7056033 286.578973,67.2559747 287.054054,67.622889 C288.124324,68.4184816 289.67027,68.1732605 290.502703,67.0725176 M296.567568,59.673079 C296.27027,59.4896218 296.092486,59.1838599 296.032432,58.8169456 C295.972973,58.4500313 296.032432,58.1442694 296.27027,57.8385074 C296.687081,57.2269836 297.518919,57.1052903 298.054054,57.5327455 C298.351351,57.7168142 298.52973,58.0225761 298.589784,58.3888789 L298.589784,58.5723361 C298.589784,58.878098 298.52973,59.1227075 298.351351,59.3673171 C297.935135,59.9788409 297.103297,60.1011457 296.567568,59.673079 M299.302703,60.1011457 C299.481676,59.8571477 299.660054,59.5513857 299.718919,59.1838599 L303.405405,59.1838599 C303.762162,59.1838599 304,58.9398619 304,58.5723361 C304,58.2054217 303.762162,57.9608122 303.405405,57.9608122 L299.718919,57.9608122 C299.6,57.4110523 299.243243,56.8600693 298.768162,56.4937665 C297.637838,55.6370216 296.092486,55.9427835 295.319514,57.0435264 C295.140541,57.288136 295.022216,57.5938979 294.903297,57.9608122 L282.594595,57.9608122 C282.237838,57.9608122 282,58.2054217 282,58.5723361 C282,58.9398619 282.237838,59.1838599 282.594595,59.1838599 L294.903297,59.1838599 C295.022216,59.7342314 295.378378,60.2846028 295.854054,60.6515171 C296.924324,61.5076505 298.52973,61.263041 299.302703,60.1011457"></path>
                        </g>
                    </g>
                </symbol>
            </svg>
        </div>
        <div class="globalWrapper">
            <header class="headerWrapper___2roU8">
                <div class="container header___3AxUE">
                    <div class="backLinkWrapper___32HUs">
                        <a class="title___2dxLB" href="/">TeakOrigin <span>Guide</span></a>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="alignRight___2os-X">
                            <a class="subscribe___31nA5" href="/account/signout">
                                <span>SIGN OUT</span>
                            </a>
                        </div>
                    }
                </div>
            </header>

            <div class="headerSpacing">
                <div class="container headerSpacing">
                    @RenderBody()
                </div>
            </div>

            <footer class="container footer___1BHfS">
                <a href="https://www.teakorigin.com" target="_blank" aria-label="Teak Origin (opens in new window)">
                    <svg class="logo___3jzWq themeBlack___3VI_j" aria-hidden="true" focusable="false"><use xlink:href="#logo"></use></svg>
                </a>
                <ul>
                    <li><a href="http://www.example.com" target="_blank" class=""> About TeakOrigin Guide<span class="screen-reader-text">(opens in new window)</span></a></li>
                    <li><a href="http://www.example.com" target="_blank" class=""> Learn More<span class="screen-reader-text">(opens in new window)</span></a></li>
                    <li><a href="http://www.example.com" target="_blank" class=""> FAQs<span class="screen-reader-text">(opens in new window)</span></a></li>
                    <li><a href="http://www.example.com" target="_blank" class=""> Contact Us<span class="screen-reader-text">(opens in new window)</span></a></li>
                </ul>
            </footer>

            @RenderSection("Scripts", required: false)

        </div>
    </div>
</body>

</html>