@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TeakOrigin APIs development center. V1.03</h1>




    <br />


    <table class="table___1DL92" role="grid" aria-readonly="true">
        <tbody>
            <tr class="bodyRow___3r35-">
                <td class="largeText___2brDH" align="left" valign="bottom">
                    <br />
                    <p>Learn about using and developing against our API by visiting our <a href="/swagger" class="linkButton___3GHSn">Swagger documentation</a>.</p>

                </td>
            </tr>
            <tr class="bodyRow___3r35-">
                <td class="largeText___2brDH" align="left" valign="bottom">
                    <br />
                    <p>Have a look into our public<a href="https://teakorigin-guide-app-test.azurewebsites.net/" class="linkButton___3GHSn"> website</a>.</p>
                </td>
            </tr>
            <tr class="bodyRow___3r35-">
                <td class="largeText___2brDH" align="left" valign="bottom">
                    <br />
                    <p>If you are an administrator, you could upload data for this week <a href="/upload" class="linkButton___3GHSn"> here</a>.</p>
                   
                </td>
            </tr>
            <tr class="bodyRow___3r35-">
                <td class="largeText___2brDH" align="left" valign="bottom">
                    <br />
                    <p>Visit our advanced <a href="/advancedsite" class="linkButton___3GHSn">website</a>.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
