<ul>
    <li>
        <a asp-controller="Upload"
           asp-action="Index">Data file upload</a>
    </li>
    <li>
        <a asp-controller="LocationUpload"
           asp-action="Index">Location file upload</a>
    </li>

    <li>
        <a asp-controller="cache"
           asp-action="Index">Cache</a>
    </li>
</ul>
<br />