<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/71149a0a-047f-4423-9c66-f8dcf2abe473/resourcegroups/to-linux-plan/providers/Microsoft.ContainerRegistry/registries/teakorigincontainerregistrytest</ContainerResourceId>
    <ContainerResourceName>teakorigincontainerregistrytest</ContainerResourceName>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://teakorigincontainerregistrytest.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/71149a0a-047f-4423-9c66-f8dcf2abe473/resourcegroups/to-linux-plan/providers/Microsoft.Web/sites/teakorigin-api-test</ResourceId>
    <ResourceGroup>to-linux-plan</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://teakorigin-api-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2da7352e-fb50-44c1-89fa-398a8f8e023e</ProjectGuid>
  </PropertyGroup>
</Project>