<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/71149a0a-047f-4423-9c66-f8dcf2abe473/resourceGroups/teakorigin-dev/providers/Microsoft.ContainerRegistry/registries/teakorigincontainerregdev</ContainerResourceId>
    <ContainerResourceName>teakorigincontainerregdev</ContainerResourceName>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://teakorigincontainerregdev.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/71149a0a-047f-4423-9c66-f8dcf2abe473/resourcegroups/teakorigin-dev/providers/Microsoft.Web/sites/teakorigin-guide-api-dev-container</ResourceId>
    <ResourceGroup>teakorigin-dev</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://teakorigin-guide-api-dev-container.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>031d5d65-40a1-4669-96fe-533854cb5848</ProjectGuid>
  </PropertyGroup>
</Project>